@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #ffffff;
  text-align: center;
  color: #1a1a92;
  font-size: 20px; }

/*Header*/
.logo-principal {
  font-size: 20px;
  color: #34c4cc; }
  .logo-principal img {
    height: 200px;
    width: auto;
    border-radius: 20px;
    box-shadow: 7px 7px 19px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 7px 19px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 19px -4px rgba(0, 0, 0, 0.75); }
  .logo-principal h1 {
    display: none;
    visibility: hidden; }
  .logo-principal p {
    display: none;
    visibility: hidden; }

/*Navegador*/
.navbar {
  background-color: #34c4cc;
  font-weight: bold;
  color: white !important; }
  .navbar div a {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 22px;
    font-weight: bold;
    color: white !important; }

.navbar li:hover {
  transform: scale(1.2); }

.navbar-nav > li {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 22px;
  font-weight: bold;
  color: white !important; }

.navbar-brand:hover {
  transform: scale(1.2); }

/*Main del Index*/
.local img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  position: relative; }

.local p {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  position: relative;
  width: 80vw;
  bottom: 160px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.553);
  border-radius: 15px;
  padding: 15px; }

/*Galería*/
.galeria {
  width: 90%;
  transform: translateX(5%);
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 15px; }
  .galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 7px 7px 19px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 7px 19px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 19px -4px rgba(0, 0, 0, 0.75);
    border-radius: 10px; }

.categoria {
  position: relative; }
  .categoria:hover {
    transform: scale(1.05, 1.05); }
  .categoria h3 {
    position: absolute;
    bottom: 0;
    transform: translateY(20%);
    background-color: #34c4cc;
    border-radius: 0 0 10px 10px;
    width: 100%;
    padding: 5px;
    color: white; }

/*Parte de pagos y envios del index*/
.img-pago {
  width: 100%;
  margin-top: 80px; }

.contenedor {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px; }

.pago {
  width: 500px;
  height: 350px;
  position: relative; }
  .pago img {
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .pago p {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.553);
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 0 10px 0 0; }

/* Main de about.html */
.nosotros {
  display: flex;
  width: 90%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  transform: translateX(4%);
  margin: 20px; }
  .nosotros h2 {
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #f8a718;
    box-shadow: 7px 7px 19px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 7px 19px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 19px -4px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding: 20px; }
  .nosotros p {
    font-size: 25px;
    text-align: center;
    background-color: rgba(249, 189, 215, 0.7);
    padding: 10px;
    margin: 10px;
    border-radius: 10px; }

.carousel-inner {
  transform: translateX(25%); }

.fotos {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(6%); }
  .fotos img {
    height: 500px;
    border-radius: 10px;
    box-shadow: 7px 7px 19px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 7px 19px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 19px -4px rgba(0, 0, 0, 0.75); }

/* Main de faq.html */
.pregunta {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px; }
  .pregunta h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: #f9bdd7;
    border-radius: 10px;
    padding: 10px;
    margin: 10px; }
  .pregunta p {
    color: #000000;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    margin: 10px; }

/* Ubicación de contact.html */
#contact-main {
  width: 98%;
  display: grid;
  grid-template-areas: "contacto ubicacion"; }

.contacto-gral {
  grid-area: contacto; }

.ubicacion {
  grid-area: ubicacion; }

/* Formulario de contact.html */
/*Mixin*/
.form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px; }

#form1 {
  background-color: rgba(52, 196, 204, 0.158);
  border-radius: 10px;
  padding: 0;
  margin: 0;
  height: 100%; }
  #form1 span {
    display: inline-block;
    margin: 10px; }
  #form1 div {
    display: block;
    margin: 10px; }

.rosa {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background-color: #f9bdd7;
  border-radius: 15px;
  padding: 10px;
  margin: 10px; }

.contact {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px; }
  .contact iframe {
    width: 80%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    padding: 0;
    margin: 0 10px; }
  .contact ul {
    font-size: 25px;
    height: 50%;
    width: 80%;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    border-radius: 10px 10px 0 0;
    padding: 0;
    margin: 0 10px; }

/*Tabla de talles*/
.talles h3 {
  padding: 10px; }

.tabla-talles {
  width: 50%;
  border: 5px solid #f8a718;
  transform: translateX(50%); }

/* MAPA */
.btn-categoria {
  background-color: #f8a718;
  border-radius: 15px;
  padding: 10px;
  margin: 10px; }

.btn-subcategoria {
  background-color: #f9bdd7;
  border-radius: 15px;
  padding: 10px;
  margin: 10px; }

/*Productos*/
.marcas {
  display: flex;
  width: 90vw;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px; }

/*Extend*/
.panal, .panal-tamano {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background-color: #f9bdd7;
  border-radius: 15px;
  padding: 10px;
  margin: 10px; }

.panal-tamano {
  font-weight: lighter;
  background-color: #f8a718; }

/*Footer - Todos los HTML*/
footer {
  background-color: #34c4cc;
  width: 100%;
  height: 60px;
  color: #000000;
  margin-top: 50px; }
  footer div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around; }
    footer div p {
      justify-content: center; }

@media screen and (max-width: 1130px) {
  .navbar div a {
    margin-left: 20px;
    margin-right: 20px; }
  .navbar-nav > li {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px; } }

@media screen and (max-width: 1100px) {
  .local img {
    height: 60vh; }
  .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    margin-top: 5px; }
  .indu {
    grid-row-start: span 2; }
  .foto-4 {
    grid-column-start: span 3; }
  .img-pago {
    width: 90%;
    margin-top: 30px; }
  .contenedor {
    width: 90%;
    transform: translateX(10%); }
  .pago {
    width: 400px;
    height: 300px;
    margin-right: 10px; }
    .pago p {
      font-size: 15px; }
  .nosotros p {
    font-size: 20px; }
  .fotos {
    width: 100%; }
    .fotos img {
      height: 400px;
      width: auto;
      transform: translateX(-10); }
  .contact ul {
    font-size: 20px; } }

@media screen and (max-width: 970px) {
  .navbar-nav > li {
    font-size: 15px; }
  #contact-main {
    width: 98%;
    display: flex;
    flex-direction: column; }
  footer {
    margin: 5px;
    padding: 5px;
    height: 100%; } }

@media screen and (max-width: 740px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    margin-top: 2px; }
  .indu {
    grid-row-start: span 1; }
  .foto-4 {
    grid-column-start: span 1; }
  .contenedor {
    width: 100%;
    transform: translateX(5%); }
  .pago {
    width: 400px;
    height: 200px; } }

@media screen and (max-width: 560px) {
  .logo-principal img {
    display: none; }
  .local img {
    display: flex; }
  .local p {
    font-size: 20px; }
  .galeria {
    grid-auto-rows: 200px; }
  footer {
    height: auto;
    margin-top: 50px;
    padding: 5px; }
    footer div {
      display: flex;
      flex-direction: column-reverse; }
  .pregunta h3 {
    font-size: 20px; }
  .pregunta p {
    font-size: 15px; }
  #form1 {
    width: 100%;
    display: inline-block; } }

@media screen and (max-width: 320px) {
  .galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 200px;
    margin-top: 1px; }
  .contenedor {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px; }
  .pago {
    width: auto;
    height: auto; }
  .nosotros p {
    font-size: 15px; } }
