$naranja: rgb(248, 167, 24);
$celeste: rgb(52, 196, 204);
$rosa: rgb(249, 189, 215);
$verde: rgb(0, 194, 1);
$unidadpx: 10px;

/*Tabla de talles*/

.talles h3 {
    padding: $unidadpx;
}

.tabla-talles {
    width: 50%;
    border: $unidadpx / 2 solid $naranja;
    transform: translateX(50%);
}

/* MAPA */
$titulos: (
    categoria: $naranja,
    subcategoria: $rosa,
);

@each $titulo, $color in $titulos {
    .btn-#{$titulo} {
        background-color: $color;
        border-radius: $unidadpx * 1.5;
        padding: $unidadpx;
        margin: $unidadpx;
    }
}