$unidadpx: 10px;

@media screen and (max-width:1130px) {
    .navbar {
        div {
            a {
                margin-left: $unidadpx * 2;
                margin-right: $unidadpx * 2;
            }
        }
    }
    .navbar-nav>li {
        margin-left: $unidadpx * 2;
        margin-right: $unidadpx * 2;
        font-size: $unidadpx * 2;
    }
}

@media screen and (max-width:1100px) {

    .local img {
        height: 60vh;
    }

    .galeria {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 250px;
        margin-top: $unidadpx / 2;
    }

    .indu {
        grid-row-start: span 2;
    } 

    .foto-4 {
        grid-column-start: span 3;
    }

    .img-pago {
        width: 90%;
        margin-top: $unidadpx * 3;
    }
    
    .contenedor {
        width: 90%;
        transform: translateX(10%);
    }
    
    .pago {
        width: 400px;
        height: 300px;
        margin-right: $unidadpx;

        p {
            font-size: $unidadpx * 1.5;
        }
    }

    .nosotros p {
        font-size: $unidadpx * 2;
    }
    
    .fotos {
        width: 100%;

        img {
            height: 400px;
            width: auto;
            transform: translateX(-10);
        }
    }

    .contact ul {
        font-size: $unidadpx * 2;
    }
    
}

@media screen and (max-width:970px) {

    .navbar-nav>li {
        font-size: $unidadpx * 1.5;
    }

    #contact-main {
        width: 98%;
        display: flex;
        flex-direction: column;
    }

    footer {
        margin: $unidadpx / 2;
        padding: $unidadpx / 2;
        height: 100%;
    }

}

@media screen and (max-width:740px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
        margin-top: $unidadpx / 5;
    }

    .indu {
        grid-row-start: span 1;
    } 
    
    .foto-4 {
        grid-column-start: span 1;
    }

    .contenedor {
        width: 100%;
        transform: translateX(5%);
    }

    .pago {
        width: 400px;
        height: 200px;
    }

}

@media screen and (max-width:560px) {

    .logo-principal img {
        display: none;
    } 

    .local {
        img {
            display: flex;
        }
        p {
            font-size: $unidadpx * 2;
        }
    }

    .galeria {
        grid-auto-rows: 200px;
    }

    footer {
        height: auto;
        margin-top: $unidadpx * 5;
        padding: $unidadpx / 2;

        div {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .pregunta {
        h3 {
            font-size: $unidadpx * 2;
        }
        p {
            font-size: $unidadpx * 1.5;
        }
    }

    #form1 {
        width: 100%;
        display: inline-block;
    }

}

@media screen and (max-width:320px) {

    .galeria {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 200px;
        margin-top: $unidadpx / 10;
    }

    .contenedor {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: $unidadpx * 1.5;
    }

    .pago {
        width: auto;
        height: auto;
    }

    .nosotros p {
        font-size: $unidadpx * 1.5;
    }
}