$naranja: rgb(248, 167, 24);
$celeste: rgb(52, 196, 204);
$rosa: rgb(249, 189, 215);
$verde: rgb(0, 194, 1);
$unidadpx: 10px;

/*Productos*/

.marcas {
    display: flex;
    width: 90vw;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: $unidadpx * 2;
}

/*Extend*/

.panal {
    font-size: $unidadpx * 2.5;
    font-weight: bold;
    text-align: center;
    background-color: $rosa;
    border-radius: $unidadpx * 1.5;
    padding: $unidadpx;
    margin: $unidadpx;
}

.panal-tamano {
    @extend .panal;
    font-weight: lighter;
    background-color: $naranja;
}
